<section id="mu-slider">
    <!-- Start single slider item -->
    {% for slider in sliders %}
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="{{slider.image.url}}" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <!-- <h4>Slider Category</h4> -->
        <!-- <span></span> -->
        <h2>{{slider.name}}</h2>
        <p>{{slider.description}}</p>
        <a href="#" class="mu-read-more-btn">Read More</a>
      </div>
    </div>
    {% endfor %}
</section>