{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
  <!-- Start Slider -->
  {% include "frontend/includes/slider.html" %}
  <!-- End Slider -->

  <!-- Start service  -->
  <!-- End service  -->

  <!-- Start about us -->
  {% include "frontend/includes/about.html" %}
  <!-- End about us -->

  <!-- Start about us counter -->
  <!-- End about us counter -->

  <!-- Start features section -->
  <!-- End features section -->

  <!-- Start from blog -->
  {% include "frontend/includes/blog.html" %}
  <!-- End from blog -->

  <!-- Start testimonial -->
  {% include "frontend/includes/testimonial.html" %}
  <!-- End testimonial -->

  <!-- Start our teacher -->
  {% include "frontend/includes/teacher.html" %}
  <!-- End our teacher -->

  <!-- Start latest course section -->
  {% include "frontend/includes/latestcourse.html" %}
  <!-- End latest course section -->

{% endblock content %}